<p>Lista de Heroes</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Bio</th>
        <th scope="col">Casa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heroe of Heroes; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{heroe.nombre}}</td>
        <td><img [src]="heroe.img" class="img-thumb" alt="..."></td>
        <td>{{heroe.casa}}</td>
      </tr>

    </tbody>
  </table>
